* {
    box-sizing: border-box;
}

a {
    color: inherit;

    text-decoration: none;
}

ul {
    list-style: none;
}

.conteiner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


/*-----------menu__burger------------*/
.menu__burger {

    width: 30px;
    height: 20px;
    position: relative;
    top: 50%;
    cursor: pointer;

    display: none;
}

.menu__burger::before,
.menu__burger::after {
    content: '';
    background-color: #0096FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.menu__burger::before {
    top: 0;
}

.menu__burger-line {
    background-color: #0096FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
}

.menu__burger::after {
    bottom: 0;
}

.burger__active {
    position: relative;
    z-index: 8;
}

.burger__active::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: rgb(250, 24, 24);

}

.burger__active .menu__burger-line {
    transform: scale(0);
}

.burger__active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: rgb(250, 24, 24);

}

/*------------title --------------------*/
.title {
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px; 

    margin: 42px auto;
}


.title > h1 {
    color: #1099CC;
    padding: 0 7px;
}

.title > h2 {
    color: #1D1D1B;
    padding: 0 7px;
}

.title__contrary {
    padding: 60px 0 12px;
}

.title__contrary h1{
    
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.title__contrary h2{
    font-size: 36px;
    line-height: 42px;
    color: #1099CC;
}
/*----------------box-------------*/

.box {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.box__inner {
    width: 302px;
    text-align: center;
    padding: 12px 24px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    margin: 10px auto;
}

.box__inner-link {
    width: 254px;
}

.box__inner-link>h4 {


    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #1099CC;

    display: flex;
    justify-content: space-between;
    display: block;
}

.box__inner-link {

    display: flex;
    justify-content: space-between;
}

.box__inner-btn {
    display: block;
    color: #1099CC;
}



.box__inner-btn .fas:hover {
    color: #fff;
    background: #1084AB;
}

.box__inner img {
    padding-bottom: 12px;
}


/*-------------header------------------------*/
.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
.conteiner {
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
   display: flex;
}

.logo__img {}

.logo__img-two {}

.header__wrapper-item {
    width: 675px;
    display: flex;
    justify-content: space-between;
}

.menu {}

.menu__list {
    width: 517px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list-item {}

.menu__list-link {
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1099CC;

    padding: 18px 12px;
  
    display: block;

    transition: .4s;
}

.menu__list-link:hover{
    color: #fff;
    background: #1084AB;
}

.header__box {
    margin: auto;
}

.header__box-link {
    display: block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    color: #1D1D1B;
    

}

.header__box-link__tell {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #1D1D1B;
}

.fa-chevron-right {
    border: 2px solid #1099CC;
    padding: 6px 8px 6px 11px;
    color: #1099CC;
    border-radius: 50%;

    padding: relative;
    top: 0;
}





/*----------------main------------------*/
.main {
    background: linear-gradient(275.58deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    #EDEFF5;
    overflow: hidden;
}

.conteiner {}

.main__slaider {
   padding: 52px 0;
}

.main__slaider-conteiner {
    display: flex;
    justify-content: space-between;
}

.main__conteiner-inner{
    padding-top: 5%;
}

.main__conteiner-inner > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 66px;
    color: #1D1D1B;

    padding: 27px 0 24px;
}

.main__conteiner-inner > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1099CC;
    padding-bottom: 48px;
}


.main__conteiner-btn {
    width: 153px;
    padding:20px 42px 20px 24px;
    background: #1099CC;

    box-shadow: 0px 2px 6px rgba(50, 50, 93, 0.11);
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__conteiner-btn:hover {
    color: #fff;
    background: #1084AB;
} 


/*===========slaider================*/
.slick-initialized .slick-slide {
    display: flex;
}

.slick-dots {
    display: flex;
    position: relative;
    left:  50%;
    top: 40px;
    
}

.slick-dots button {
    text-indent: -9999px;
    height: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #1099CC;
    margin: 0 4px;
}

.slick-active button {
    background: #1099CC;
}

/*--------------saws-------------*/


.box {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.box__inner {
    width: 302px;
    text-align: center;
    padding: 12px 24px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    margin: 10px auto;
}
.box__inner-link {
    width: 254px;
}

.box__inner-link > h4 {
    

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #1099CC;

    display: flex;
    justify-content: space-between;
    display: block;
}

.box__inner-link {

    display: flex;
    justify-content: space-between;
}

.box__inner-btn {
    display: block;
    color: #1099CC;
}

.box__inner-btn .fas:hover {
    color: #fff;
    background: #1084AB;
}


/*--------------consultation------------*/
.consultation {
    margin-top: 60px;
    background: #263238 url('../images/background.png') repeat repeat;
}

.conteiner {}

.title {}

.title__contrary {}

.consultation__content {
    display: block;
    margin-top: -35px;
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.consultation__content-form {
    padding: 24px 0 17px;
}

.consultation__btn {
    background: #1099CC;

    box-shadow: 0px 2px 6px rgba(50, 50, 93, 0.11);
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 14px 20px;

    position: relative;
    top: -2px;
}

.consultation__input {
    width: 302px;
    padding: 12px;
    margin-right: 12px;
}

.consultation__input{
    outline: none;
    border: none;
    border: 1px solid #CAD1D7;
    
    border-radius: 4px;
}


.consultation__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
   
    color: #8898AA;

   
    outline: none;
    border: none;
   
}

.consultation__content-checbox {
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 33px;
    margin: 0 auto;
}


.consultation__btn {
    outline: none;
    border: none;
}

.consultation__btn:active {
    background: #1084AB;
}

.consultation__content-checbox > p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    padding-left: 12px;
}

.consultation__checbox {
    width: 20px;
    height: 20px;
    border: 1px solid #CAD1D7;
    border-radius: 4px;
}

.consultation__checbox:active,
.consultation__checbox:focus {
    background: #FFFFFF;
    border: 1px solid #CAD1D7;
    border-radius: 4px;
}

/*-----------checbox-------------*/
.check {
    padding-left: 1em;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-top: -12px;
    margin-left: -1em;
    width: 20px;
    height: 20px;
    background: url('../images/check.png') no-repeat;
}

.check__input:checked + .check__box {
    background: url('../images/cheac__active.png') no-repeat;
}

.check__input:focus + .check__box {
    background: url('../images/check.png') no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
}

.check__input:focus:checked + .check__box {
    background: url('../images/cheac__active.png') no-repeat;
    border: 1px solid #000;
    border-radius: 4px;
}

.check__input:disabled + .check__box {
    background: url('../images/check-_deseibal.png') no-repeat;

}

.check__input:checked:disabled + .check__box {
    background: url('../images/check__deseibal-active.png') no-repeat;
 
}

/*-----------advantages---------------*/
.machine{
    margin-bottom: 80px;
}

.advantages {
    margin-bottom: 105px;
}

.advantages__wrapp {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.advantages__wrapp-inner {
    text-align: center;

    margin: 30px auto;
}

.advantages__wrapp-inner > h5 {
    font-family: 'Roboto Condensed',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    padding: 30px 0;
}

.advantages__wrapp-inner > p {
   font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1B;

}



/*------------------footer------------------*/
.footer {
    padding: 30px 0 50px;
    background: #263238;
}

.footer__inner{
    display: flex;
    justify-content: space-around;
}

.footer__box {
    width: 411px;
    display: block;
}

.footer__box > h6,
.footer__box-link,
.footer__box-box > p{
    display: block;
}

.footer__box > h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;    
    color: #FFFFFF;

    border-bottom: 1px solid #8898AA;

    padding-bottom: 24px;
    margin-bottom: 12px;
}



.footer__box-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1099CC;

    padding: 12px 0;
}


.footer__box-copyright p,
.footer__box-copyright p>a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
}

.footer__box-copyright {
    padding: 12px 0;
}

.footer__box p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #DDDDDD;
    padding: 12px 0;
}

.footer__box-tell {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 12px 0;
}

.footer__box-link:hover {
    color: #1084AB;
}
/*----------------------------------------*/
/*------------------brand--------------*/
/*-------------------------------------*/

/*-----------------breadcrumb----------------*/

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #1099CC;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}

.breadcrumb li a {
    text-decoration: underline;
}

.breadcrumb li a,
.breadcrumb li  {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/*-------------saw----------------*/
.saw__box-inner {
    width: 302px;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;

    margin: 10px auto;
    overflow: hidden;
}

.saw__box-inner h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #1099CC;
    padding: 0 12px;
}

.saw__box-inner h4,
.saw__box-inner p{
    padding: 0 24px;
}

.saw__box-inner p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    color: #1D1D1B;

}


.box__inner-link {
    padding: 12px 24px 19px 24px;
}

.box__inner-btn__brand {
    background: #1099CC;
    box-shadow: 0px 2px 6px rgba(50, 50, 93, 0.11);
    border-radius: 4px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    outline: none;
    border: none;
    padding: 14px 20px;
}

.box__inner-btn__brand:hover {
    background: #1084AB;
}

.saw__box-inner > .box__inner-link {
    width: 290px;
    align-items: center;
}


.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    margin: 94px 0 58px;
}

.text p{
    padding-bottom: 30px;
}


/*--------------------------------------------*/
/*---------------product----------------------*/

.product__title {
    justify-content: left;
    padding: 42px 0 43px;
    margin: 0;
}

.product__box img{
    float: left;
    margin-right: 20px;

    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.product__box button {
    margin-bottom: 20px;
}

.product__box  p,
.product__box > ul > li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1B;

    padding-bottom: 35px;
}

.product__box > ul > li {
    padding-left: 30px;
    padding-bottom: 15px;
}

.product__box > ul {
    list-style: disc;
    margin-left: 570px;
    padding-bottom: 30px;
}

.product__table >h2 {
    font-family: 'Roboto Condensed', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1B;

    padding-top: 20px;
}

.product__table table {
    padding-top: 20px;
    width: 100%;
}

.product__table table tr {

    
    
    border-bottom: 1px solid #DDDDDD;
    
}

.product__table table tr p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    color: #1D1D1B;
    padding: 20px 0;
}

.product__box img {
    position: relative;
    z-index: 0;
}
.badge {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 12px;
}

.badge__special h5,
.badge__new h5,
.badge__stock h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    border-radius: 2px;

    padding: 3px;
}

.badge__special {
    display: block;
    background: #CC4310;

}

.badge__new {
    display: none;
    background: #10CEA3;

}

.badge__stock {
    display: none;
    background: #CEA310;
}

.product__box {
    position: relative;
}

/*--------------------------------------*/
/*-------------contacts------------------*/

.contact__title {
    justify-content: left;
}



.contact__wrapp {
    display: flex;
    justify-content: space-between;
}

.contact__box {}
.contact__box > p,
.contact__box-link {
    display: block;
    font-family: 'Roboto',    sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #1D1D1B;

    padding-left: 34px;
    padding-bottom: 40px;

    position: relative;
}

.insert__img-one::after {
    content: url('../images/one.svg');
    position: absolute;
    top: 2px;
    left: 10px;
}

.insert__img-two::after {
    content: url('../images/two.svg');
    position: absolute;
    top: 2px;
    left: 10px;
}

.insert__img-three::after {
    content: url('../images/three.svg');
    position: absolute;
    top: 2px;
    left: 10px;
}

.insert__img-four::after {
    content: url('../images/four.svg');
    position: absolute;
    top: 2px;
    left: 10px;
}


.contact__form {}

.contact__form h5{
    font-family: 'Roboto Condensed',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1D1D1B;
    padding-bottom: 24px;
}

.form {}

.contact__form-inner {}

.form-control {}

.input-m {}

.textarea {
    resize: none;
}

.consultation__content-checbox {}

.check {}

.check__input {}

.check__box {}

.contact__form-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    border-radius: 4px;

    background: #1099CC;
    box-shadow: 0px 2px 6px rgba(50, 50, 93, 0.11);
    border-radius: 4px;

    outline: none;
    border: none;  
    padding:14px 20px;

}

.contact__form-btn:active {
    background:#1084AB;

}

